/* importing google font: Poppins */
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #e5bdba;
}
/* container for text */
.wrapper{
    width: 605px;
    background: #e3e5ba;
    border-radius: 15px;
    padding: 30px 30px 25px;
}
/* header text */
.wrapper header{
    font-size: 35px;
    font-weight: 600;
    text-align: center;
}
/* inside length of container */
.wrapper .content{
    margin: 35px 0;
}
/* main text */
.content .quote-area{
    display: flex;
    justify-content: center;
}
.quote-area i{
    font-size: 15px;
}
.quote-area i:first-child{
    margin: 3px 10px 0 0;
}
.quote-area i:last-child{
    display: flex;
    align-items: flex-end; /* moves end quote to end */
    margin: 0 0 3px 10px;
}
.quote-area .quote{
    font-size: 22px;
    text-align: center;
    word-break: break-all;
}
/* sub text */
.content .author{
    display: flex;
    font-size: 18px;
    font-style: italic;
    margin-top: 20px;
    justify-content: flex-end;
}
.author span:first-child{
    margin: -7px 5px 0 0;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* buttons */
.wrapper .buttons{
    border-top: 1px solid #000000;
}
.buttons .features{
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}
.features ul{
    display: flex;
}
.features ul li{
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    color:#829279;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    border: 2px solid #829279;
} /* 9:00 */